.centerLogin {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    background-image: url(../images/backgorund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}